@media (min-width: 768px) {
  .main-wrapper {
    margin-left: 260px;
    margin-top: 60px;
  }
}

[data-bs-theme="dark"] {
  --bs-body-bg: #000000;
  --bs-body-color: #ffffff;
  --bs-dark: #1c1c1e;
  --bs-dark-rgb: 28, 28, 30;
  --bs-primary: #fa243c;
}

.btn-apple {
  background-color: #fa243c;
  color: #ffffff;
  border: none;
  font-weight: bold;
  border-radius: 6px;
  padding: 6px 16px;
  transition: background-color 0.2s ease;
}

.btn-apple:hover {
  background-color: #ae1625;
  color: #ffffff;
}

.apple-slider {
  --bs-form-range-track-bg: #3a3a3c;
  --bs-form-range-track-height: 4px;
  --bs-form-range-thumb-bg: #ffffff;
  --bs-form-range-thumb-focus-box-shadow: 0 0 0 1px #ffffff, 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  --bs-form-range-thumb-active-bg: #d1d1d6;
}

.custom-search:focus {
  background-color: #2c2c2e !important;
  color: white !important;
  box-shadow: 0 0 0 0.15rem rgba(250, 36, 60, 0.5) !important;
}

/* VOLUME CONTROL */
input[type="range"].form-range.apple-slider {
  -webkit-appearance: none;
  background: transparent;
}

input[type="range"].form-range.apple-slider::-webkit-slider-runnable-track {
  background-color: #5c5c5e;
  height: 4px;
  border-radius: 4px;
}

input[type="range"].form-range.apple-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #ffffff;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-top: -4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

input[type="range"].form-range.apple-slider:focus {
  outline: none;
  box-shadow: none;
}

input[type="range"].form-range.apple-slider:focus::-webkit-slider-thumb {
  box-shadow:
    0 0 0 1px #000,
    0 0 0 0.2rem rgba(250, 36, 60, 0.25);
}
